@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    box-sizing: border-box;
    margin: 2px;
}

img{
    display: block;
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px; /*espacio entre letras*/
}
.contenedor{
    margin: auto;
    width: 95%;
}
/*-----------------------estilos dek header-----------------------------------*/
.section__titulo{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #FBA919;
}

.header{
    height: 60px;
}

.header .contenedor{
    display: flex; /*para que se ponga uno al lado de otro*/
    justify-content: space-between; /*separa a los extremos*/
   /* position: auto;*/
}
.logo, .icon-menu{
    margin: 5px;
    color: #fff;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto; /*esto es para mozilla para que se vaya a los extremos el icono del menu*/
    cursor: pointer;
}
/* --------------------estilos menu-------*/
.nav {
    position: absolute;
    top: 65px;
    left: -100%;
    width: 100%; /*para que ocupe todo el espacio*/
    transition:  all 1.4s; /*duracion para que aparesca el menu*/
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.menu__link{
    display: block;
    padding: 15px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover , .select{ /*es para cuando vamos a pasar el menu y el hover tiene que estar pegdo*/
    background: white;
    color: #FBA919;
}

.mostrar {
    left: 0;
}



/*------------------Estilos del Banner----------------*/ 
.banner{
    margin-top: -60px; /*para subir la iamgen hasta el inicio*/
    position: relative; /*pesta poner la iamgen atras del titulo  */
    z-index: -1000;
    margin-bottom: 30px;
}

.banner .contenedor{
    position: absolute; /* es para llevar la letra Grande al medio*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center; /* para centrear las letras*/
}

.banner__txt{
    display: none;
}

/*--------------estilos de info----------------------*/
.info__columna{
    background: #FBA919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;

}

/*--------------estilos de cursos----------------------*/
.cursos__columna{
    position: relative;
    margin-bottom: 30px;
}

.cursos__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    padding: 5px;

}

.cursos__titulo{
    font-size: 25px;
    margin: 5px 0;
    color: blue;

}

/*--------------------------Estilos de footeer----*/

.footer{
    
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class ^="icon-"]{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    
}

/*--------estilos resposivee-------*/
@media(min-width:480px){
    .logo{
        font-size: 50px;

    }
    .banner__titulo{
        font-size: 38px;
        color: #fff;
        margin: 5px 0;
    }
    .banner__txt{
        display: block;
        color: #fff;
        font-size: 20px;
        margin: 5px 0;
    }
    .info , .cursos{
        display: flex; /*para que estes los cuadrados amarillos uno la lado de otro*/
        justify-content: space-between; /*para que esten separados un poco*/
        margin-top: -50px;
    }  
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 25px;
        margin: 10px;
        margin-inline-start: auto; /*probamos*/
    }
    .cursos{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .section__titulo{
        width: 100%;
    }
    .cursos__columna{
        width: 49%;
        /*float: left;*/
        /*position: relative;*/
    }
    .cursos__columna:hover{
        border: 2px solid #FBA919;
    }
    .cursos__txt{
        top: 15px;
        font-size: 12px;
    }

    .footer .social [class ^="icon-"]{
        margin: 0 10px;
    }

}

@media(min-width:768px){
    .banner__titulo{
        font-size: 40px;

    }
    .cursos__titulo{
        font-size: 40px;

    }

}

@media(min-width:1024px){
    .contenedor{
        width: 1200px;
        
    }
    .banner__img{
        width: 1200px;
        width: 99%;
    }
    .section__titulo{
        font-size: 55px;
        margin: 20px 0;
    }
    .menu{
        display: flex;
    }
    .nav{
        position: static;
        width: auto;
    }
    .icon-menu{
        display: none;
    }
    .select{
        color: white;
        background: #FBA919;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .banner__titulo{
        font-size: 60px;

    }
    .info__titulo{
        font-size: 40px;
        text-align: center;

    }
    .cursos__titulo{
        font-size: 50px;

    }
    
}
